extends layout

block content
  h1 Bienvenido a la pagina de Stefan Oebels Sanchez.
  p Esta es una Aplicacion Web para la Gestion de Clientes. 
  p Con esta Aplicacion Web de Gestion de Clientes usted podra: 
  p Agregar Clientes, Agregar Oportunidades de Venta, Agregar un Registro de Interacciones y Agregar Informes.
  p Ademas de eso, usted podra acceder y ver todo lo que ha agregado. 
  ul
    li: a(href="/clientes")  Ver Clientes.
    li: a(href="/ventas")  Ver Oportunidades de Venta. 
    li: a(href="/interacciones")  Ver Registro de Interacciones. 
    li: a(href="/informes")  Ver Informes.