doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title STEFAN-ORDINARIO-CLIENTE-
    link(rel="stylesheet", href="/css/style.css")
  body
    nav
      ul 
        li
          a(href='/login') -Iniciar Sesión-
        li
          a(href='/registro') -Registrarse-
       
        li.dropdown
          a(href='#') -Agregar-
          .dropdown-content
            a(href='/cesar') Agregar Cliente.
            a(href='/sustitucion') Agregar Oportunidad de Venta.
            a(href='/base64') Agregar Interaccion.
            a(href='/hexadecimal') Agregar Informe. 
                
     

    .container
    block content
