doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title STEFAN-ORDINARIO-CLIENTE-
    link(rel="stylesheet", href="/css/style.css")
  body
    nav
      ul 
        li
          a(href='/') -Inicio-
       
        li.dropdown
          a(href='#') -Agregar-
          .dropdown-content
            a(href='/cesar') Agregar cliente.
            a(href='/base64') Agregar Interaccion.
            a(href='/hexadecimal') Agregar Informe. 

        li.dropdown
          a(href='#') -Ver-
          .dropdown-content
            a(href='/clientes') Ver Cliente.
            a(href='/interacciones') Ver Interaccion.
            a(href='/informes') Ver Informe.     
     

    
    block content
    .container
      h1 Gestión de oportunidades de venta.
      <div class="container">
      a(href="/sustitucion") Agregar Oportunidad de venta.</a>
      </div>
    if ventas.length > 0
      table.table.table-striped
        thead
          tr
            th | Título de la Venta. |
            th Descripción de la Venta. |
            th Estado de la venta. |
            th ID del Usuario. |
        tbody
          each venta in ventas
            tr
              td= venta.titulo
              td= venta.descripcion
              td= venta.estado
              td= venta.clienteID
    else
      p No hay oportunidades de venta registradas.
